<% provide(:title, "Manage Books") %>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display: inline-block">
			<a href="#" class="btn btn-primary btn-sm" style="margin-top: 1em; margin-bottom: 1em"><span class="glyphicon glyphicon-plus"></span> Add New Book</a>
		</div>
	</div>
	<div class="row">
	</div>
</div>